body {
    background-image: url("contact.png");
    background-size: cover;
    font-weight: 500;
    margin-left: 300px;
}

h1 {
    text-align: center;
margin-top: 100px;
color: rgba(255, 255, 1, 0.784);
}

.container {
    text-align: center;
    margin-top: 5%;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(255, 255, 1, 0.784);
}
.a {
    color: aqua;

}
.email{
    color:coral;
    text-underline-offset:initial;
}
.loc{
    color:coral;
}
.ph{
    color:coral;

}
.btn{
    background-color: coral;
}
.btn:hover{
    background-color: azure;
}